.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
    box-shadow: none !important;
}


/*   .container .row .col .btn_menu {
    width: 100%;
    height: 20rem;
    background-color: #ced4da;
    transition: 0.5s;
    font-size: 20px;
  }
  .container .row .col .btn_menu:hover {
    background-color: #ffed4a;
    color: black;
    font-size: 40px;
  } */

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 220px;
    left: 0;
    padding: 62px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all .5s;
}

.btn-white {
    background: rgb(228, 230, 227);
    color: #000;
    height: 150px;
    width: 250px;
}

.btn:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    background: #ffed4a;
    transform: translateY(-3px);
}

.btn-bottom-animation-1 {
    animation: comeFromBottom 1s ease-out .8s;
}

.btn::after {
    content: "";
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    display: inline-block;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after {
    background: rgba(230, 227, 227, 0.445);
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}