@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
hr {
    border: solid 1px rgb(0, 0, 0, 0.2);
    margin: 20px 0px;
}

#title {
    margin-top: ;
}

#survey-form {
    max-width: 480px;
    margin: auto auto 90px auto;
    background-color: rgb(0, 0, 0, 0.1);
    border: solid 1px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);
    padding: 0px 40px 40px 40px;
    text-align: left;
}

@media (max-width: 580px) {
    #survey-form {
        max-width: 100%;
        border-radius: 0px;
    }
}

label {
    display: block;
    font-size: 20px;
    padding-top: 40px;
}

.control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(20px);
    background-color: rgb(255, 255, 255, 0.85);
    border: solid 1px rgb(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);
}

.radio-control {
    display: inline-block;
    margin: 0px 10px;
}

#texto {
    font-family: 'Poppins';
    max-width: 100%;
    min-height: 90px;
    resize: none;
}

#submit {
    display: block;
    font-family: 'Poppins';
    background-color: rgb(0, 117, 255);
    padding: 15px;
    border-radius: 15px;
    border: solid 1px rgb(0, 117, 255, 0.9);
    color: white;
    margin: 40px 0px 10px auto;
    box-shadow: 5px 5px 10px rgb(0, 117, 255, 0.6);
}