/* html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar-toggle {
    width: 70px !important;
}

.icon-rotate {
    transform: rotate(180deg);
}

.sidebar {
    width: 200px;
    height: calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: 10px;
    box-sizing: border-box;
    padding: 25px 0 10px 0;
    background: #232931;
    color: #ededed;
    border-radius: 5px;
    transition: 0.5s all ease-out;
    z-index: 9999;
}

.nav-list .nav-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 25px;
    user-select: none;
}

.nav-list .nav-item .icon {
    font-size: 25px;
}

.nav-list .nav-item .text {
    margin-left: 10px;
    font-size: 18px;
}

.nav-list .nav-item.active {
    color: #f73859;
    font-weight: bolder;
}

.nav-list .nav-item.active::after {
    content: "";
    width: 4px;
    height: 30px;
    position: absolute;
    top: 9px;
    left: 0;
    background: #f73859;
    border-radius: 999px;
}

.nav-bottom {
    position: relative;
    padding-top: 10px;
    border-top: 1px solid #bdbdbd;
}

.nav-bottom .nav-item {
    color: #bdbdbd;
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav-bottom .nav-item .icon {
    font-size: 20px;
}

.nav-bottom .nav-item .text {
    font-size: 16px;
}

.btn-toggle {
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    user-select: none;
}

.btn-toggle span:first-child {
    margin-right: 10px;
}

.btn-toggle i {
    transition: 0.5s all ease-out;
}

.text {
    white-space: nowrap;
}

ul li a {
    text-decoration: none;
    color: #a2a3b7;
}

ul li a:hover {
    color: #f73859;
}

.nav-item::after {
    content: "";
    background-color: #f73859;
}

.containercat {
    overflow: hidden;
    margin: 0px 16px 30px 16px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 24px 0 rgb(0 0 0 / 8%);
    background-color: #0f1117;
    color: white;
}

.containercat h1 {
    font-size: 30px;
} */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
:root {
    --first-color: #12192c;
    --second-color: #f5a623;
    --white-color: #ededed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Quicksand", sans-serif;
    position: relative;
    padding: 1rem 0 0 5rem;
    transition: 0.5s;
}


/*  To be used to increse the padding of body when toggling sidebar*/

.expander {
    padding: 1rem 0 0 12rem;
    transition: 0.5s;
}

.l-navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--first-color);
    width: 55px;
    height: 100vh;
    z-index: 100;
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Logo+Text CSS */

.nav-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
    overflow: hidden;
}

.logo-icon {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

.logo-text {
    color: white;
    font-weight: 700;
}


/* Toggle Button */

.nav-toggle {
    position: absolute;
    top: 2.9rem;
    right: -0.9rem;
    width: 36px;
    height: 36px;
    background-color: red;
    border-radius: 50%;
    color: var(--first-color);
    cursor: pointer;
    transform: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    transition: 0.3s;
    overflow: hidden;
}

.nav-link:hover {
    background-color: #f52323b7;
    color: white;
}

.link-text {
    margin-left: 0.9rem;
    font-weight: 300;
}

.active {
    background-color: var(--second-color);
}

.rotate {
    transform: rotate(180deg);
    transition: 0.5s;
}

.show {
    width: 170px;
}

.icon {
    font-size: 1.5rem;
}


/* test */

#f1_container {
    position: relative;
    margin: 10px auto;
    /*     width: 450px;
    height: 281px; */
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    margin-top: 5rem;
    font-size: 3rem;
    transform: rotateY(180deg);
    box-sizing: border-box;
    /* padding: 10px; */
    color: white;
    text-align: center;
    background-color: red;
}